<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto_final"
        tools:targetApi="31">
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".ConsejosActivity"
            android:exported="false" />
        <activity
            android:name=".ImagenesActivity"
            android:exported="false" />
        <activity
            android:name=".ServicioWebActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/baseline_access_alarm_24" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity android:name=".MainActivity" />
        <activity
            android:name=".RecordatorioActivity"
            android:exported="false" />
        <activity
            android:name=".AddRecordatorio"
            android:exported="false" />
        <activity
            android:name=".CalendarioAnualActivities"
            android:exported="false" />
        <activity
            android:name=".CalendarioActividadesAnual"
            android:exported="false" />
        <activity
            android:name=".RegistroEntrenamiento"
            android:exported="false" />
        <activity
            android:name=".Registro_ActivadFisica"
            android:exported="false" />
        <activity android:name=".SleepTiempoActivity" />
        <activity
            android:name=".FormularioMetas"
            android:exported="false" />
        <activity
            android:name=".ProgresosActivities"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".FirebaseMessageReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".MyBroadcastReceiver" />
    </application>

</manifest>